
    
.container {
    text-align:center;
    margin: auto;
    background-color: rgb(238, 194, 194);


}

button {
    padding: 5px;
    border-radius: 25px !important;
    font-family: Roboto !important;
    border-color: rgb(151, 179, 245);

}

set{
    padding: 5px;
    border-radius: 25px !important;
   
}

img{
    width: 320px;
 

}



#box-1 {
    display: flex;
    flex-direction:column;
    background-color: #c599f4;
     text-shadow: 4px 5px 10px rgb(246, 237, 244);
    margin-top: 50px;
     font-family: Roboto !important;
     margin-bottom: 50px;

    

}



#main-heading {
    color: #f1e6da;
    font-family: Roboto;
    text-shadow: 4px 5px 10px rgb(12, 20, 251);
   font-size: 100px;

}





